.topnav {
  overflow: hidden;
  background-color: darkgray;
}

.topnav a {
  float: left;
  font-color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
}

ul {
  margin: 0px;
  padding: 10px;
  list-style: none;
  color: white;
  text-align: center;
  align-items: center;
  
}

ul li {
  float: left;
  width: 200px;
  height: 40px;
  background-color: darkgray;
  opacity: .8;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
  margin-right: 2px;
  font-family: comic sans MS;
}

ul li a {
  text-decoration: none;
  color: white;
  display: block;
}
ul li a:hover {
  background-color: black;
}

ul li ul li {
  display: none;
}

ul li:hover ul li{
  display: block;
}

input[type="submit"]:hover {
  border: 1px solid black;
  color: black;
}
input[type="reset"]:hover {
  border: 1px solid black;
  color: black;
}

input[type="reset"]:hover {
  border: 1px solid black;
  color: black;
}
}

img {
  transition: filter .5s ease-in-out;
  -webkit-filter: grayscale(0%); 
  filter: grayscale(0%);
}
img:hover {
  -webkit-filter: grayscale(100%); 
  filter: grayscale(100%);
   
}

img {
	border-radius: 50%;

/*
			4 states a link can be in:
			1-a or a:link --> normal state of an unvisited
			2-a:visited --> visited link
			3-a:hover --> when you're resting your mouse pointer over a link
			4-a:active --> when you're actively clicking a link
			*/
			
			}

